<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--primary collapsible--chevron">
      <use xlink:href="images/sprite.svg#wordpress"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi, vero!
      Molestiae, iure libero. Porro quia alias cumque hic. Voluptas, iste.
    </p>
  </div>
</div>
<script src="js/main.js"></script>
