<section class="block">
  <header class="block__header">
    <h2>What our customers are saying</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, dolorum.</p>
  </header>
  <div class="card testimonial">
    <div class="grid grid--1x2">
      <div class="testimonial__image">
        <img src="./images/testimonial.jpg" alt="A happy, smiling customer" />
        <span
          class="icon-container icon-container--accent icon-container--large"
        >
          <svg class="icon icon--white">
            <use xlink:href="images/sprite.svg#quotes"></use>
          </svg>
        </span>
      </div>
      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
          numquam fugit eveniet at tenetur, aliquid similique consequatur
          veritatis unde animi assumenda molestias vitae rerum! Magni fugit
          possimus debitis, rerum expedita quas dolorum. Eveniet similique saepe
          deleniti magni facilis. Et rem animi nihil aliquid dolore omnis
          obcaecati magnam alias eius natus?
        </p>
        <footer>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary quote__line">
                <use xlink:href="./images/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title quote__author">John Smith</h3>
              <p class="quote__company">ABC Company</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</section>
